html body
{
    height: 100%;
    width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
    background-image: url(images/coverbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header
{
    text-align: center;
    font-size: 72px;
    margin-top: 20%;
}

p
{
    text-align: center;
    font-size: 30px;
}

.btn-outline-primary
{
    color: white;
    border: none;
    font-size: 25px;
}

.btn-outline-primary:hover
{
    background-color: skyblue;
}

a, a:hover
{
    text-decoration: none;
    color: white;
}

#linkedin
{
    height: 32px;
    width: 32px;
}