/* Project styles */

.projecttile
{
    background-color: gray;
    border: 1px solid black;
    color: white;
}

.project
{
    padding-top: 3%;
}

.projecttile, .projecttile:hover
{
    text-decoration: none;
    color: white;
}

.sidebar
{
    text-align: center;
}

/* Individual project page styles */

.resize
{
    height: 90%;
    width: 90%;
}

#githubportfolio
{
    background-image: url("images/sashimimi-code.png");
}

#sparkler
{
    background-image: url("images/sparkler-code.PNG");
}

#natureskills
{
    background-image: url("images/natureskills-code.PNG");
}

#jframe
{
    background-image: url("images/jframe-code.PNG");
}

#youtubedl
{
    background-image: url("images/youtubedl-code.PNG");
}

#caesarcipher
{
    background-image: url("images/caesarencrypt-code.PNG");
}

#storefront
{
    background-image: url("images/phpdatabasecode.PNG");
}