#githubportfolio
{
    background-image: url("images/sashimimi-code.png");
}

#sparkler
{
    background-image: url("images/sparkler-code.PNG");
}

#natureskills
{
    background-image: url("images/natureskills-code.PNG");
}

#jframe
{
    background-image: url("images/jframe-code.PNG");
}

#youtubedl
{
    background-image: url("images/youtubedl-code.PNG");
}

#caesarencrypt
{
    background-image: url("images/caesarencrypt-code.PNG");
}